.title {
  position: sticky;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  margin-bottom: 0;
  background: cadetblue;
}

.ghostainer {
  position: relative;
  z-index: -1;

  //   border: 1px dashed rgb(0 255 0 / 50%);
}

.squashtainer {
  // position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.copy {
  //   position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: lemonchiffon;

  & > *:first-of-type {
    margin-top: 0;
  }

  & > *:last-of-type {
    margin-bottom: 0;
  }
}

// Debug Styles

.hr {
  position: fixed;
  left: 0;
  width: 100%;
  border-top: 1px dashed rgb(255 0 0 / 50%);
  margin: 0;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding: 0.175rem 0.25rem;
    background-color: rgb(255 0 0 / 50%);
    color: white;
    content: "Heading " attr(data-index) " sticky position: "
      attr(data-position) "px";
    font-size: 0.75rem;
  }
}

.trigger {
  position: fixed;
  left: 0;
  width: 100%;
  border-top: 1px dashed rgb(0 0 255 / 50%);
  margin: 0;

  &::before {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    padding: 0.175rem 0.25rem;
    background-color: rgb(0 0 255 / 50%);
    color: white;
    content: "Copy " attr(data-index) " trigger position: " attr(data-position)
      "px";
    font-size: 0.75rem;
  }
}
